<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Van Gogh's Architecture</h1>
    <center><a href="/details"><img src="https://th.bing.com/th/id/OIP.zeYe5hDe6Hulh0ctCEKoUwHaJf?pid=ImgDet&w=1868&h=2396&rs=1" style="width:50%; height: 40%;" alt="Deals"></a> 
    
    </center>    
    
    <p>This architecture was designed by Van Gogh, the famous Italian architect...</p>
    <p>"Van Gogh" redirects here. For other uses, see Van Gogh (disambiguation) and Vincent van Gogh (disambiguation).
        In this Dutch name, the surname is van Gogh, not Gogh.
        Vincent van Gogh
        A head and shoulders portrait of a thirty something man, with a red beard, facing to the left
        Self-Portrait, 1887, Art Institute of Chicago
        Born	Vincent Willem van Gogh
        30 March 1853</p>
        
        <p>Zundert, Netherlands
        Died	29 July 1890 (aged 37)
        Auvers-sur-Oise, France
        Cause of death	Gunshot wound
        Education	
        Royal Academy of Fine Arts
        Académie Royale des Beaux-Arts
        Notable work	
        Sunflowers (1887)
        Bedroom in Arles (1888)
        The Starry Night (1889)
        Wheatfield with Crows (1890)
        Sorrowing Old Man (1890)
        Movement	Post-Impressionism
        Family	Theodorus van Gogh (brother)
        Signature
        Gogh, Vincent van 1853-1890 Signature.jpg
    </p> A ceramic vase with sunflowers on a yellow surface against a bright yellow background.
        Sunflowers (F.458), repetition of the 4th version (yellow background), August 1889.[1] Van Gogh Museum, Amsterdam
        An expansive painting of a wheatfield, with a footpath going through the centre underneath dark and forbidding skies, through which a flock of black crows fly.
        Wheatfield with Crows, 1890. Van Gogh Museum, Amsterdam
        Vincent Willem van Gogh (Dutch: [ˈvɪnsɛnt ˈʋɪləm vɑŋ ˈɣɔx] (listen);[note 1] 30 March 1853 – 29 July 1890) was a Dutch Post-Impressionist painter who posthumously became one of the most famous and influential figures in Western art history. 
        In a decade, he created about 2,100 artworks, including around 860 oil paintings, most of which date from the last two years of his life. They include landscapes, still lifes, portraits and self-portraits, and are characterised by bold colours and dramatic, impulsive and expressive brushwork that contributed to the foundations of modern art. Not commercially successful in his career, he struggled with severe depression and poverty, which eventually led to his suicide at age thirty-seven.</p>
  

        <br><br><br><br>
<span class="title">Download Our App Now</span>
<span class="sub-title">Fast, Simple & Delightful. All it takes is 15 seconds to Download.</span>
<a href="#" class="btn1"><i class="fa fa-android"></i> DOWNLOAD</a>
</td>
</tr>
</table>
</section>



<footer>
<div class="footer">
<ul>
<li>
<select>
<option value="english">English</option>
<option value="chinese">Chinese</option>
<option value="deutsch">Deutsch</option>
<option value="hindi">Hindi</option>
<option value="portuguese">Portuguese</option>
<option value="spanish">Spanish</option>
</select>
</li>
<li>
<select>
<option value="Dollar">USD: US-Dollar</option>
</select>
</li>
</ul>

<ul>
<li class="title">OTHER LINKS</li>
<li>Contact Us</li>
<li>Privacy Policy</li>
<li>Terms & Conditions</li>
<li>Tickets</li>
<li>Customer Service</li>
<li>Our App</li>
</ul>

<ul>
<li class="title">SHORTCUT</li>
<li>Electronics</li>
<li>Men & Women</li>
<li>House Hold</li>
<li>Sport & Fitness</li>
<li>Books</li>
<li>Kids Corner</li>
</ul>

<ul>
<li class="title">LET HELP YOU</li>
<li>Covid-19</li>
<li>Your Account</li>
<li>Shipping Rates</li>
<li>Replacement</li>
<li>Help</li>
<li>
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-instagram"></i></a>
<a href="#"><i class="fa fa-twitter"></i></a>
<a href="#"><i class="fa fa-youtube"></i></a>
</li>
</ul>
</div>
<div class="sub-footer">Copyright © 2021 Inferno - All rights reserved || Designed By: Mahesh
</div>
</footer>


</body>
</html>